<html>
<head>

  <title>Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"></script>
  <script type="module" src="./static/scripts/index.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/static/stylesheets/index.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
  <script rel="application/javascript" src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.6/dist/js/splide.min.js"></script>
</head>

<body>
  <section class="vcard flex">
    <div class="polygon1 flex"></div>
    <div class="main-container flex">
      <div id="waypoint" class="picture-container flex">
        <div class="name flex">
          <h1>Clément Vermylen</h1>
        </div>
        <div class="title flex">
          <h2>Fullstack Developer</h2>
        </div>
        <div class="socials flex">
          <a class="linkedin" href="https://www.linkedin.com/in/vermylenclement/" target=”_blank”>
            <i class="fa-brands fa-linkedin-in linkedin"></i>
          </a>

          <a class="github" href="https://github.com/clementvermylen?tab=repositories" target=”_blank” >
            <i class="fa-brands fa-github github"></i>
          </a>

        </div>
      </div>
      <div class="about-me flex">
        <h1 class="h1">
          &lt;/About me&gt;
        </h1>
        <h2 class="h2"><i class="fa-solid fa-location-dot"></i>Brussels / Frontend / Fullstack</h2>
        <div class="nav-line"></div>
        <ul class="skills-list flex">
          <p class="skill flex">Javascript</p>
          <p class="skill flex">HTML</p>
          <p class="skill flex">SCSS</p>
          <p class="skill flex">Node.js</p>
          <p class="skill flex">Express</p>
          <p class="skill flex">MongoDB</p>
        </ul>
        <p class="p">
          Hi, I'm Clément.<br><br>
          I'm a junior web developer driven by curiosity and hungry to learn more <br>
          I am eager to acquire professional experience, deepen my skills, and expand my portfolio. <br>
          I have a passion to create and exceed myself at every occasion, and would be more than happy to prove it ! <br> <br>
          If you're interested in my profile, or if you simply have a project that you want to discuss, feel free to contact me by email and lets make those ideas come to reality !
        </p>
        <div class="button-container flex">
          <a class="resume flex" href="https://drive.google.com/file/d/1zYQhiZxf0wrPfqreDLsvgXFEU0Aq0Ol3/view?usp=sharing" target=”_blank”>
            Resume
          </a>
        </div>
        <div class="portfolio-container flex">
          <div class="portfolio flex">
            <i class="fa-solid fa-arrow-down"></i>
          </div>
        </div>
      </div>
    </div>
  </section>



    <section id="2" class="portfolio first flex">
      <section id="1" class="portfolio first flex">
        <div class="header flex">
          <div class="header-title">
            <h1>
              &lt;/Portfolio&gt;
            </h1>
          </div>
        </div>
      <div class="filler"></div>
      <a href="https://github.com/clementvermylen/BeVisible" target="_blank" class="project-title">
        <h2>Not Another Cookbook</h2>
      </a>
      <div class="bottom-line dark"></div>
      <section id="slider2" class="splide first gallery-container flex" aria-label="Portfolio Gallery">
        <div class="container flex">
          <div class="card">
            <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655726378/nac4_ogo6kv.jpg" alt="">
          </div>
          <div class="card">
            <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655726378/nac3_npxkwf.jpg" alt="">
          </div>
          <div class="card">
            <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655726378/nac2_wtycjd.jpg" alt="">
          </div>
          <div class="card">
            <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655726378/nac1_gnwwvw.jpg" alt="">
          </div>  
        </div>
        <section class="description-container flex">
          <p>
            Have you ever found yourself in that situation where you have to plan out your week of grocery and simply can't choose what you're gonna eat ? <br><br> Not Another Cookbook is the solution.
            Create your own recipes or add them directly from your favorite cooking website.<br> Pick the meals you want, adjust the portions and that's it !<br><br> Your grocery list is generated, filtered in categories to make your experience as smooth and efficient as possible.
          </p>
        </section>
      </section>
  
  
    </section>
  </section>

  <section id="2" class="portfolio second flex">
    <div class="filler"></div>

    <a href="https://github.com/RaphaCH/not-another-cookbook" target="_blank" class="project-title">
      <h2>BeVisible</h2>
    </a>
    <div class="bottom-line"></div>

    <section id="slider2" class="splide gallery-container flex" aria-label="Portfolio Gallery">
      <div class="container">
        <div class="card">
          <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
        </div>
        <div class="card">
          <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
        </div>
        <div class="card">
          <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
        </div>
        <div class="card">
          <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
        </div>  
        <div class="card">
          <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
        </div>  
        <div class="card">
          <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
        </div>
      </div>
      <section class="description-container flex">
        <p>
          A Linkedin-like website that allows BeCode student to have a greater presence and reach online, by allowing companies access to the profiles of potential employees available at the tips of their fingers. <br><br>
          I built the rest api using Node.js and Express and then other members of the class took care of the frontend part and used the routes on my backend.
        </p>
      </section>
    </section>
  </section>
  <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script defer src="../init-firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-analytics.js"></script>
</body>
</html>