<html>
<head>

  <title>Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"></script>
  <script type="module" src="/static/scripts/index.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/static/stylesheets/index.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
  <script rel="application/javascript" src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.6/dist/js/splide.min.js"></script>
</head>

<body>
  <section class="vcard flex">
    <div class="polygon1 flex"></div>
    <div class="main-container flex">
      <div id="waypoint" class="picture-container flex">
        <div class="name flex">
          <h1>Clément Vermylen</h1>
        </div>
        <div class="title flex">
          <h2>Fullstack Developer</h2>
        </div>
        <div class="socials flex">
          <a class="linkedin" href="https://www.linkedin.com/in/vermylenclement/" target=”_blank”>
            <i class="fa-brands fa-linkedin-in linkedin"></i>
          </a>

          <a class="github" href="https://github.com/clementvermylen?tab=repositories" target=”_blank” >
            <i class="fa-brands fa-github github"></i>
          </a>

        </div>
      </div>
      <div class="about-me flex">
        <h1 class="h1">
          &lt;/About me&gt;
        </h1>
        <h2 class="h2">Brussels / 20 / Frontend / Fullstack</h2>
        <div class="nav-line"></div>
        <ul class="skills-list flex">
          <p class="skill flex">Javascript</p>
          <p class="skill flex">HTML</p>
          <p class="skill flex">SCSS</p>
          <p class="skill flex">Node.js</p>
          <p class="skill flex">Express</p>
          <p class="skill flex">MongoDB</p>
        </ul>
        <p class="p">
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <div class="button-container flex">
          <div class="portfolio flex">
            Portfolio
          </div>
          <a class="resume flex" href="https://pdfhost.io/v/.8ktfPhKr_CV" target=”_blank”>
            Resume
          </a>
        </div>
      </div>
    </div>
  </section>



    <section id="2" class="portfolio first flex">
      <section id="1" class="portfolio first flex">
        <div class="header flex">
          <div class="header-title">
            <h1>
              &lt;/Portfolio&gt;
            </h1>
          </div>
        </div>
      <div class="filler"></div>
      <a href="https://github.com/clementvermylen/BeVisible" target="_blank" class="project-title">
        <h2>Not Another Cookbook</h2>
      </a>
      <div class="bottom-line dark"></div>
      <section id="slider2" class="splide first gallery-container flex" aria-label="Portfolio Gallery">
        <div class="container">
          <div class="card">
            <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
          </div>
          <div class="card">
            <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
          </div>
          <div class="card">
            <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
          </div>
          <div class="card">
            <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
          </div>  
          <div class="card">
            <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
          </div>  
          <div class="card">
            <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
          </div>
        </div>
        <section class="description-container flex">
          <p>
            A Linkedin-like website that allows BeCode students to have a greater presence and reach online, by allowing companies access to the profiles of potential future employees.
            I built the rest api using Node.js and Express and then other members of the group project took care of the frontend part and plugged their routes on my backend.
          </p>
        </section>
      </section>
  
  
    </section>
  </section>

  <section id="2" class="portfolio second flex">
    <div class="filler"></div>

    <a href="https://github.com/RaphaCH/not-another-cookbook" target="_blank" class="project-title">
      <h2>BeVisible</h2>
    </a>
    <div class="bottom-line"></div>

    <section id="slider2" class="splide gallery-container flex" aria-label="Portfolio Gallery">
      <div class="container">
        <div class="card">
          <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
        </div>
        <div class="card">
          <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
        </div>
        <div class="card">
          <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
        </div>
        <div class="card">
          <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
        </div>  
        <div class="card">
          <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
        </div>  
        <div class="card">
          <img class="gallery-img" src="https://res.cloudinary.com/dt46itgw6/image/upload/v1655374973/1652341386106_mdlzrv.jpg" alt="">
        </div>
      </div>
      <section class="description-container flex">
        <p>
          A Linkedin-like website that allows BeCode student to have a greater presence and reach online, by allowing companies access to the profiles of potential employees available at the tips of their fingers.
          I built the rest api using Node.js and Express and then other members of the group project took care of the frontend part and plugged their routes on my backend.
        </p>
      </section>
    </section>


  </section>

</body>
<!-- Do you also struggle to plan out your meals for the week when that dreaded time of grocery shopping comes around ?
All that struggle is eliminated with Not Another Cookbook, you can create custom recipes or get them from your favorite cooking website by simply pasting an url.
You add your favorites to the meal plan, decide the portions and that's it, a shopping list is created, adjusted with quantities, aswell as separated by categories to make your trip to the store as fast and efficient as possible.  -->
</html>